# Folders
source/sims/*
source/input/obsolete/*
source/lib/scobi_veg/analysis/*


# Files
design/UML-EA/*.ldb

source/input/sys/sysInput-Paulownia-PAPER_PBAND*

source/lib/runSCoBi_*.m
source/lib/common/SCoBi/mainSCoBi_*.m
source/lib/scobi_veg/products/diffuseTerm_*.m