# Folder ignores
source/sims/*
source/input/obsolete/*
source/lib/scobi_veg/analysis/*



# File ignores
design/UML-EA/*.ldb
docs/manuals/*.docx

source/input/sys/sysInput-Paulownia-PAPER_PBAND*

*.asv